.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}
body {
  padding-top: 50px;
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(243, 243, 243);
  font-size: 25px;
}

.header ul li {
  float: left;
}

.header ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.header ul li a:hover {
  background-color: lavender;
  color: rgb(21, 21, 196);
}

.active {
  font-weight: 650;
}

.rest {
  padding-top: 50px;
  background-color: rgb(243, 243, 243);
}

.head,
.para,
.form {
  text-align: center;
}

.head {
  color: rgb(219, 118, 50);
  font-size: 60px;
}

.para {
  font-weight: bold;
  font-size: 30px;
}

.form button {
  overflow: visible;
  height: 40px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  background: #d12626;
}
.form input {
  height: 40px;
  width: 50%;
}

.img {
  float: left;
  position: relative;
  height: 420px;
  width: 500px;
  display: block;
  margin: 0 50px 0 0;
  padding: 0;
  overflow: hidden;
}

.image {
  background: #fff;
  border: 4px solid hsl(186, 42%, 56%);
  border-radius: 4px;
  margin: 50px auto 50px;
  overflow: hidden;
  padding: 0;
  width: 1500px;
}
h3 {
  color: #1b2130;
  padding: 150px 50px 50px 50px;
  text-align: justify;
}
.body {
  padding: 50px;
}
h2 {
  padding: 30px;
}
img {
  height: auto;
  width: 40%;
}
p {
  text-align: justify;
}
@media only screen and (max-width: 1500px) {
  .rest .img {
    height: 400px;
    width: 500px;
  }
  .image {
    width: 1000px;
    height: 400px;
  }
  .rest h3 {
    padding: 100px 50px 50px 50px;
  }
}
@media only screen and (max-width: 1000px) {
  .img {
    width: 500px;
    margin: 0 0 0 0;
  }
  .image {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .column img {
    width: 100%;
  }
}
.rest img {
  width: 40%;
  height: auto;
  float: left;
  margin: 30px;
  padding-left: 150px;
}
.rest h3 {
  margin: 30px;
  padding-right: 150px;
  color: #1b2130;
}

#fa {
  margin: 50px 250px 50px 250px;
}
#fa h4 {
  padding-top: 30px;
  font-size: 40px;
}
#fa p {
  font-size: 30px;
}
