.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}
body {
  padding-top: 50px;
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(243, 243, 243);
  font-size: 20px;
}

.header ul li {
  float: left;
}

.header ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.header ul li a:hover {
  background-color: lavender;
  color: rgb(21, 21, 196);
}

.active {
  font-weight: 650;
}

.rest {
  padding-top: 50px;
  background-color: rgb(243, 243, 243);
}

.rest .head,
.rest .para,
.rest .form {
  text-align: center;
}

.rest .head {
  color: rgb(219, 118, 50);
  font-size: 40px;
}

.rest .para {
  font-weight: bold;
  font-size: 20px;
}

.rest .form button {
  overflow: visible;
  height: 40px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  background: #d12626;
}
.rest .form input {
  height: 40px;
  width: 50%;
}

.rest .img {
  float: left;
  position: relative;
  height: 380px;
  width: 420px;
  display: block;
  margin: 0 50px 0 0;
  padding: 0;
  overflow: hidden;
}

.rest .image {
  background: #fff;
  border: 4px solid hsl(186, 42%, 56%);
  border-radius: 4px;
  margin: 50px auto 50px;
  overflow: hidden;
  padding: 0;
  width: 1200px;
}
.rest h3 {
  color: #1b2130;
  padding: 75px 50px 50px 50px;
  text-align: justify;
}
.rest .body {
  padding: 50px;
}
.rest h2 {
  padding-top: 25px;
}
.rest > ul li img {
  height: auto;
  width: 30%;
}
.rest p {
  text-align: justify;
}
.rest > ul li {
  display: block;
  float: left;
}
.rest > ul li h5 {
  padding-top: 10px;
  padding-right: 150px;
}
@media only screen and (max-width: 1200px) {
  .rest .img {
    height: 300px;
    width: 400px;
  }
  .rest .image {
    width: 900px;
    height: 300px;
  }
  .rest h3 {
    /* padding-top: 0%;
    padding-right: 0%; */
    text-align: justify;
    font-size: 20px;
    padding: 00px 0px 0px 0px;
  }
}
@media only screen and (max-width: 900px) {
  .rest .img {
    width: 500px;
    margin: 0 0 0 0;
  }
  .rest .image {
    width: 500px;
    height: auto;
  }
  .rest > ul li img {
    height: auto;
    width: 40%;
    padding: 0%;
  }
}

/* @media screen and (max-width: 500px) {
    .column img {
      width: 100%;
    }
  } */
.rest img {
  width: 40%;
  height: auto;
  float: left;
  margin: 30px;
  padding-left: 100px;
}
.rest h3 {
  margin: 30px;
  padding-right: 150px;
  color: #1b2130;
}

#rest {
  padding-top: 50px;
  background-color: rgb(243, 243, 243);
}

#rest img {
  width: 40%;
  height: auto;
  float: left;
  margin: 30px;
}
#rest h2 {
  margin: 30px;
  padding-right: 150px;
  color: #1b2130;
  text-align: justify;
  font-size: 30px;
}
#rest p {
  margin: 30px;
  padding-right: 150px;
  color: #1b2130;
  text-align: justify;
  font-size: 17px;
}
#rest .body ul li {
  display: block;
  float: left;
}
#rest .blog {
  box-sizing: border-box;
  border: 4px solid hsl(186, 42%, 56%);
  border-radius: 10px;
  margin: 50px 50px 50px 50px;
  float: center;
}
@media screen and (max-width: 1300px) {
  #rest img {
    padding-left: 0%;
    margin: 2%;
  }
  #rest p {
    padding-right: 0%;
  }
}

#fa {
  margin: 50px 250px 50px 250px;
}
#fa h4 {
  padding-top: 30px;
  font-size: 25px;
}
#fa p {
  font-size: 17px;
}
#fa li {
  font-size: 17px;
}

@media screen and (max-width: 1300px) {
  .rest #fa {
    margin: 2%;
  }
}
#contact {
  padding-top: 50px;
  background-color: rgb(243, 243, 243);
}
#contact h1,
#contact h5 {
  text-align: center;
}

#contact h1 {
  /* padding-top: 1px; */
  font-size: 35px;
  color: hsl(186, 93%, 23%);
}
#contact h5 {
  font-size: 20px;
}
#contact .container h3 {
  padding-top: 3px;
  text-align: center;
  color: black;
}
#contact .container form label {
  color: black;
  font-size: 20px;
  font-weight: 700;
}
#contact .container input[type="text"],
#contact .container input[type="email"],
#contact .container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

#contact .container input[type="submit"] {
  background-color: hsl(0, 0%, 0%);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

#contact .container input[type="submit"]:hover {
  background-color: hsl(186, 96%, 20%);
}

.container {
  border-radius: 5px;
  background-color: hsl(186, 53%, 69%);
  padding: 0px;
}
