{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="{% static './css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Contact page</title>
    {% endblock %}
    <header class="header">
      <div>
        <nav>
          <ul class="navigation">
            <li><a class="{% block homeactive %}{% endblock homeactive %}" href="../home">Home</a></li>
            <li><a class="{% block blogactive %}{% endblock blogactive %}" href="../blog">Blog</a></li>
            <li><a class="{% block contactactive %}{% endblock contactactive %}" href="../contact">Contact</a></li>
            <li><a class="{% block faqactive %}{% endblock faqactive %}" href="../faq">FAQ</a></li>
            <li style="float: right"><a href="../login">Login/Signup</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </head>
{% comment %} {% load static %}
<!DOCTYPE html>
<!-- <link rel="stylesheet" type='text/css' href="css/style.css"> -->
<html lang="en">

<head>
    <link href="{% static './css/style.css' %}" rel="stylesheet"
        type="text/css">

    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Home page</title>
    {% endblock %}
    <header class="header">

        </div>
        <nav>
            <ul class="navigation">
                <li><a class="active" href="../home">Home</a></li>
                <li><a href="../blog">Blog</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="../faq">FAQ</a></li>
                <li style="float: right;"><a href="../login">Login/Signup</a>
                </li>
            </ul>
            </div>
        </nav>
    </header>
</head> {% endcomment %}
<body>
{% block content %}{% endblock content %}
</body>
</html>