{% extends 'app/base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% load static %}
{% block title %}
    <title>Blog page</title>
{% endblock %}

{% block content %}
  <body id="rest">
    <div class="body">
      <ul>
        <li class="blog" >
            <div class="col-md-8 mx-auto">
            {% for post in allPosts %}
                <img src = "{{post.image.url}}" width = "40%">
              
                <h2>{{post.title}}</h2>
                <p>{{post.content|truncatechars:1200|urlize|linebreaks}}</p>
                <a href="/blog/{{post.slug}}"class="btn btn-primary" margin-bottom="50px">Click to read more</a>
                <br>
                <hr style="height: 4px;border-width:0;color:gray;background-color:gray;margin-top:50px">
            {% endfor %}

            </div>
          </div> 
        </li>
      </ul>
    </div>

  </body>
    {% endblock content%}
</html>
            {% comment %} <img src="{% static 'images/block_chain.jpg' %}" alt="" />
          </div>
          <div>
            <h2>Block Chain</h2>
            <p>
              A blockchain is a type of database. To be able to understand
              blockchain, it helps to first understand what a database actually
              is. A database is a collection of information that is stored
              electronically on a computer system. Information, or data, in
              databases is typically structured in table format to allow for
              easier searching and filtering for specific information.
              Spreadsheets are designed for one person, or a small group of
              people, to store and access limited amounts of information. In
              contrast, a database is designed to house significantly larger
              amounts of information that can be accessed, filtered, and
              manipulated quickly and easily by any number of users at once.
              Large databases achieve this by housing data on servers that are
              made of powerful computers. These servers can sometimes be built
              using hundreds or thousands of computers in order to have the
              computational power and storage capacity necessary for many users
              to access the database simultaneously. While a spreadsheet or
              database may be accessible to any number of people, it is often
              owned by a business and managed by an appointed individual that
              has complete control over how it works and the data within it.
            </p>
          </div>
        </li>

        <li class="blog">
          <div>
            <img
              class="featured"
              src="{% static 'images/cloudcomputing.jpg' %}"
              alt=""
            />
          </div>
          <div>
            <h2>Cloud Computing</h2>
            <p>
              Cloud computing is the delivery of different services through the
              Internet. These resources include tools and applications like data
              storage, servers, databases, networking, and software. Rather than
              keeping files on a proprietary hard drive or local storage device,
              cloud-based storage makes it possible to save them to a remote
              database. As long as an electronic device has access to the web,
              it has access to the data and the software programs to run it.
              Cloud computing is a popular option for people and businesses for
              a number of reasons including cost savings, increased
              productivity, speed and efficiency, performance, and security.
              Cloud computing can be both public and private. Public cloud
              services provide their services over the Internet for a fee.
              Private cloud services, on the other hand, only provide services
              to a certain number of people. These services are a system of
              networks that supply hosted services. There is also a hybrid
              option, which combines elements of both the public and private
              services.
            </p>
          </div>
        </li>
        <br />
        <li class="blog">
          <div class="featured">
            <img src="{% static 'images/machinelearning.jpg' %}" alt="" />
          </div>
          <div>
            <h2>Machine learning</h2>
            <p>
              Machine learning is an application of artificial intelligence (AI)
              that provides systems the ability to automatically learn and
              improve from experience without being explicitly programmed.
              Machine learning focuses on the development of computer programs
              that can access data and use it to learn for themselves. The
              process of learning begins with observations or data, such as
              examples, direct experience, or instruction, in order to look for
              patterns in data and make better decisions in the future based on
              the examples that we provide. The primary aim is to allow the
              computers learn automatically without human intervention or
              assistance and adjust actions accordingly. But, using the classic
              algorithms of machine learning, text is considered as a sequence
              of keywords; instead, an approach based on semantic analysis
              mimics the human ability to understand the meaning of a text.
            </p>
          {% endcomment %}
