{% extends 'app/base.html' %}
{% block contactactive %}active{% endblock contactactive %}
  {% block title %}
    <title>Contact page</title>
    {% endblock %}
  {% block content %}
  <body id="contact">
    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close"
        >&times;</a
      >
      <strong>Message:</strong> {{message}}
    </div>
    {% endfor %}
    <h1>CONTACT US</h1>
    <h5>
      We would love to hear from you!
      <br />
      Send us a question or comment with the form below and we will be in touch
      with you as soon as possible.
    </h5>
    <br />

    <div class="container">
      <h3>Contact Form:</h3>
      <form method="POST" action="../contact/">
        {% csrf_token %}
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name..."
        />

        <label for="email">Email address</label>
        <br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your Email-id..."
        />

        <br />
        <label for="subject">Subject</label>
        <textarea
          id="content"
          name="content"
          placeholder="Write something..."
          style="height: 100px"
        ></textarea>

        <input type="submit" value="Submit" />
      </form>
    </div>
    {% endblock content %}
  </body>
</html>
