{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="{% static './css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Contact page</title>
    {% endblock %}
    <header class="header">
      <div>
        <nav>
          <ul class="navigation">
            <li><a href="../home">Home</a></li>
            <li><a href="../blog">Blog</a></li>
            <li><a class="active" href="../contact">Contact</a></li>
            <li><a href="../faq">FAQ</a></li>
            <li style="float: right"><a href="../login">Login/Signup</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </head>
  <body id="contact">
    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close"
        >&times;</a
      >
      <strong>Message:</strong> {{message}}
    </div>
    {% endfor %} {% block content %}
    <h1>CONTACT US</h1>
    <h5>
      We would love to hear from you!
      <br />
      Send us a question or comment with the form below and we will be in touch
      with you as soon as possible.
    </h5>
    <br />

    <div class="container">
      <h3>Contact Form:</h3>
      <form method="POST" action="../contact/">
        {% csrf_token %}
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name..."
        />

        <label for="email">Email address</label>
        <br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your Email-id..."
        />

        <br />
        <label for="subject">Subject</label>
        <textarea
          id="content"
          name="content"
          placeholder="Write something..."
          style="height: 100px"
        ></textarea>

        <input type="submit" value="Submit" />
      </form>
    </div>
    {% endblock %}
  </body>
</html>
