{% extends 'app/base.html' %}

 {% load static %}
{% block homeactive %}active{% endblock homeactive %}
{% block title %}
    <title>Home page</title>
    {% endblock %}
    {% block content %}
<body class="rest">

    <div>

        <h1 class="head">
            Student Career<br> Guidance Welcomes You
        </h1>
        <p class="para">
            Guiding path to future...
        </p>
        <form class="form">
            <input type="text" placeholder="Search here..." size="50" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="image">
        <img class="img" src="{% static 'images\back.jpg' %}">
        <h3>"Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time."<br>-Thomas A. Edison</h3>
    </div>
    <ul>
        <li>

            <img src="{% static 'images/block_chain.jpg' %}" alt=""/>
            <h2>Blockchain</h2>
            <h5> A blockchain is a type of database. To be able to understand blockchain, it helps to first understand what a database actually is. </h5>
                <a class="btn btn-primary btn-sm" href="../blog">Click to read more</a>
            </li>
            
            <li>
            
            <img src="{% static 'images/cloudcomputing.jpg' %}" alt=""/>
            <h2>Cloud Computing</h2>
            <h5>Cloud computing is the delivery of different services through the Internet. These resources include tools and applications like data storage, servers, databases, networking, and software. </h5>
                <a class="btn btn-primary btn-sm" href="../blog">Click to read more</a>
            </li>
            
            <li>
            
                <img src="{% static 'images/machinelearning.jpg' %}" alt=""/>
                <h2>Machine Learning</h2>
                <h5>Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed.</h5>
                    <a class="btn btn-primary btn-sm" href="../blog">Click to read more</a>
                    
                </li>
                    
                </ul>
                </body>
        {% endblock %}
</body>

</html>