{% extends 'app/base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% load static %}
{% block title %}
    <title>Search page</title>
    {% endblock %}

{% block content %}
  <body id="rest">
  <div>
  <h2 style="text-align:center;font-size: 40px;color: hsl(186, 93%, 23%);">Search Results</h2>
            {% if allPosts|length == 0 %}
            <p style="font-size:30px">No search results available
            <br>
            Your search query : <b>{{query}}</b> did not match any documents
            <br>
            <em>Suggestions:</em>
            <br>
            -   Try different keywords.</p>
            
            {% endif %}
            </div>
    <div class="body">
      <ul>
        <li class="blog" >
            <div class="col-md-8 mx-auto">
            {% for post in allPosts %}
                <img src = "{{post.image.url}}" width = "40%">
              
                <h2>{{post.title}}</h2>
                <p>{{post.content|truncatechars:1200}}</p>
                <a href="/blog/{{post.slug}}"class="btn btn-primary" margin-bottom="50px">Click to read more</a>
                <br>
                <hr style="height: 4px;px;border-width:0;color:gray;background-color:gray;margin-top:50px">
            {% endfor %}

            </div>
          </div> 
        </li>
      </ul>
    </div>

  </body>
    {% endblock content%}
</html>